{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2 class="text-3xl text-center mt-4 mb-8 text-slate-200">Tu cherches des chouineurs à sauver ?</h2>

<ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
{% for article in articlesChouineur %}
  <li class="relative">
    <div class="group shadow block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-slate-500 focus-within:ring-sky-500 overflow-hidden">
      <img src="{{article.imageUrl}}" alt="{{article.title | raw}}" class="object-cover pointer-events-none transition-all group-hover:opacity-75">
      <a href="{{article.link}}" class="absolute inset-0 focus:outline-none">
        <span class="sr-only">{{article.title | raw}}</span>
      </a>
    </div>
    <a href="{{article.link}}" class="mt-2 block text-sm font-medium text-slate-300 truncate">{{article.title | raw}}</a>
    <p class="block text-sm font-medium text-slate-400">Il y a {{article.chouineurs}} chouineur{% if article.chouineurs > 1 %}s{% endif %}</p>
  </li>
 {% endfor %}

 </ul>


<div class="example-wrapper">
    <h2 class="text-3xl text-center mt-4 mb-8 text-slate-200">Ou lire un article gratuit ?</h2>

<ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
{% for article in articlesFree %}
  <li class="relative">
    <div class="group shadow block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-slate-500 focus-within:ring-sky-500 overflow-hidden">
      <img src="{{article.imageUrl}}" alt="{{article.title | raw}}" class="object-cover pointer-events-none group-hover:opacity-75">
      <a href="{{article.link}}" class="absolute inset-0 focus:outline-none">
        <span class="sr-only">{{article.title | raw}}</span>
      </a>
    </div>
    <p class="mt-2 block text-sm font-medium text-slate-300 truncate pointer-events-none">{{article.title | raw}}</p>
</li>
 {% endfor %}

 </ul>

    <h2 class="text-3xl text-center mt-4 mb-8 text-slate-200">Voir même un article au pif ?</h2>

<ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
{% for article in articlesRandom %}
  <li class="relative">
    <div class="group shadow block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-slate-500 focus-within:ring-sky-500 overflow-hidden">
      <img src="{{article.imageUrl}}" alt="{{article.title | raw}}" class="object-cover pointer-events-none transition-all group-hover:opacity-75">
      <a href="{{article.link}}" class="absolute inset-0 focus:outline-none">
        <span class="sr-only">{{article.title | raw}}</span>
      </a>
    </div>
    <a href="{{article.link}}" class="mt-2 block text-sm font-medium text-slate-300 truncate">{{article.title | raw}}</a>
  </li>
 {% endfor %}

 </ul>

{% endblock %}
