{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<h2 class="mt-4 mb-8 text-3xl text-center text-slate-200">Tu cherches des chouineurs à sauver ?</h2>

<div class="p-4 mb-8 rounded-md bg-yellow-50">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: solid/exclamation -->
      <svg class="w-5 h-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-yellow-800">
        Attention 
      </h3>
      <div class="mt-2 text-sm text-yellow-700">
        <p>
         Pour le moment le site est loin d’ètre fini. Il y a de forte chance pour que les ouins ouins ne sois pas tous à jours.</br>
         Je travaille encore sur une solution pour maintenir à jours les ouins sans bully le site de CPC.
        </p>
      </div>
    </div>
  </div>
</div>

     

<div class="mb-8">
  <h2 class="text-xs font-medium tracking-wide uppercase text-slate-200">Infos Diverses</h2>
  <ul role="list" class="grid grid-cols-1 gap-5 mt-3 sm:gap-6 sm:grid-cols-3">
    <li class="flex col-span-1 rounded-md shadow-sm">
      <div class="flex items-center justify-center flex-shrink-0 w-16 text-sm font-medium text-white bg-sky-500 rounded-l-md">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-sky-200" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
</svg>
      </div>
      <div class="flex items-center justify-between flex-1 truncate bg-white border-t border-b border-r border-gray-200 rounded-r-md">
        <div class="flex-1 px-4 py-2 text-sm truncate">
          <a href="#" class="font-medium text-gray-900 hover:text-gray-600">Nombre total d’article</a>
          <p class="text-gray-500">{{totalArticles}}</p>
        </div>
      </div>
    </li>

    <li class="flex col-span-1 rounded-md shadow-sm">
      <div class="flex items-center justify-center flex-shrink-0 w-16 text-sm font-medium text-white bg-yellow-500 rounded-l-md">
       <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-yellow-200" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
</svg>
      </div>
      <div class="flex items-center justify-between flex-1 truncate bg-white border-t border-b border-r border-gray-200 rounded-r-md">
        <div class="flex-1 px-4 py-2 text-sm truncate">
          <a href="#" class="font-medium text-gray-900 hover:text-gray-600">Articles jamais scannés</a>
          <p class="text-gray-500">{{totalManquant}}</p>
        </div>       
      </div>
    </li>

    <li class="flex col-span-1 rounded-md shadow-sm">
      <div class="flex items-center justify-center flex-shrink-0 w-16 text-sm font-medium text-white bg-red-500 rounded-l-md">
       <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-red-200" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
</svg>
      </div>
      <div class="flex items-center justify-between flex-1 truncate bg-white border-t border-b border-r border-gray-200 rounded-r-md">
        <div class="flex-1 px-4 py-2 text-sm truncate">
          <a href="#" class="font-medium text-gray-900 hover:text-gray-600">Articles en erreur</a>
          <p class="text-gray-500">{{totalError}}</p>
        </div>        
      </div>
    </li>
    
  </ul>
</div>


<ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
{% for article in articlesChouineur %}
  <li class="relative">
    <div class="block w-full overflow-hidden bg-gray-100 rounded-lg shadow group aspect-w-10 aspect-h-7 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-slate-500 focus-within:ring-sky-500">
      <img src="{{article.imageUrl}}" alt="{{article.title | raw}}" class="object-cover transition-all pointer-events-none group-hover:opacity-75">
      <a href="{{article.link}}" class="absolute inset-0 focus:outline-none">
        <span class="sr-only">{{article.title | raw}}</span>
      </a>
    </div>
    <a href="{{article.link}}" class="block mt-2 text-sm font-medium truncate text-slate-300">{{article.title | raw}}</a>
    <div class="flex justify-between">
    <p class="block text-sm font-medium text-slate-400">Il y a {{article.chouineurs}} chouineur{% if article.chouineurs > 1 %}s{% endif %}</p>
    <p class="block text-sm font-medium text-right text-slate-400">Article du {{article.realCreatedAt| format_datetime('short', 'none', locale='fr') }}</p>
    </div>
  </li>
 {% endfor %}

 </ul>



    <h2 class="mt-4 mb-8 text-3xl text-center text-slate-200">Ou lire un article gratuit ?</h2>

<ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
{% for article in articlesFree %}
  <li class="relative">
    <div class="block w-full overflow-hidden bg-gray-100 rounded-lg shadow group aspect-w-10 aspect-h-7 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-slate-500 focus-within:ring-sky-500">
      <img src="{{article.imageUrl}}" alt="{{article.title | raw}}" class="object-cover pointer-events-none group-hover:opacity-75">
      <a href="{{article.link}}" class="absolute inset-0 focus:outline-none">
        <span class="sr-only">{{article.title | raw}}</span>
      </a>
    </div>
    <p class="block mt-2 text-sm font-medium truncate pointer-events-none text-slate-300">{{article.title | raw}}</p>
</li>
 {% endfor %}

 </ul>

    <h2 class="mt-4 mb-8 text-3xl text-center text-slate-200">Voir même un article au pif ?</h2>

<ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
{% for article in articlesRandom %}
  <li class="relative">
    <div class="block w-full overflow-hidden bg-gray-100 rounded-lg shadow group aspect-w-10 aspect-h-7 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-slate-500 focus-within:ring-sky-500">
      <img src="{{article.imageUrl}}" alt="{{article.title | raw}}" class="object-cover transition-all pointer-events-none group-hover:opacity-75">
      <a href="{{article.link}}" class="absolute inset-0 focus:outline-none">
        <span class="sr-only">{{article.title | raw}}</span>
      </a>
    </div>
    <a href="{{article.link}}" class="block mt-2 text-sm font-medium truncate text-slate-300">{{article.title | raw}}</a>
  </li>
 {% endfor %}

 </ul>

{% endblock %}
