{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="text-slate-100">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>               
               
                <th>Guid</th>
                <th>Chouineurs</th>
                <th>realCreatedAt</th>
                <th>realUpdatedAt</th>
                <th>IsFreeContent</th>
                <th>Is404</th>
                <th>ImageUrl</th>
                <th>ImageALaUne</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td> <a href="{{ article.link }}" class="underline decoration-sky-400 underline-offset-4" target="_blank" rel="noopener noreferrer">{{ article.title | raw}}</a></td>                
                
                <td>{{ article.guid }}</td>
                <td>{{ article.chouineurs }}</td>
                <td>{{ article.realCreatedAt ? article.realCreatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ article.realUpdatedAt ? article.realUpdatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ article.isFreeContent ? 'Yes' : 'No' }}</td>
                <td>{{ article.is404 ? 'Yes' : 'No' }}</td>
                <td>{{ article.imageUrl }}</td>
                <td>{{ article.imageALaUne }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
